body,a{font-size:12px;} 
.button
{
    Height:20px;
	width:80px;
    BACKGROUND-COLOR: #C6D7EF;
    COLOR: #000080;
    LINE-HEIGHT: 9pt;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 2px;
    PADDING-BOTTOM: 2px;
    CURSOR: hand;
    border-width:1px;
    border-style:solid;
    FONT-FAMILY: ו;
    FONT-SIZE: 9pt;
}
 
 